body {
margin: 0;
font-size: 14px;
color: white;
background: white;
-webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
}

/*CONTAINER ==============================*/

.container {
width: 100%;
max-width: 1200px;
margin: 0 auto;
padding: 0 15px;
}

p {
margin: 0 0 10px;
}

/*HEADER ==============================*/

.header {
width: 100%;
height: 100px;
position: fixed;
top: 0;
left: 0;
z-index: 9999;
background: black;
opacity: .75;
}

.header__inner {
display: flex;
justify-content: space-between;
align-items: center;
padding: 35px 0;
}

/*NAV ==============================*/

.nav {
display: flex;
font-size: 13px;
font-weight: 700;
text-transform: uppercase;
}

.nav__link {
margin-left: 60px;
color: #fff;
text-decoration: none;
opacity: .75;

transition: opacity: .1s linear;
}

.nav__link:first child {
margin-left: 0;
}

.nav__link:hover {
text-decoration: none;
opacity: 1;
}

/*BANNER ==============================*/

.banner {
display: flex;
flex-direction: column;
justify-content: center;
background: url('7.jpg') #2f5861;
background-blend-mode: multiply, normal;
min-height: 410px;
width: 100%;
background-size: cover;
padding-top: 100px;
}

.banner__inner {
width: 100%;
max-width: 970px;
margin: 0 auto;
text-align: center;
}

/*ABOUTUS ==============================*/

.aboutus{
padding-top: 70px;
color: black;
}

.aboutuss h3 {
color: black;
font-size: 30px;
color: black;
padding-left: 60px;
font-weight: bold;
}

.aboutuss p {
font-size: 20px;
color: black;
margin-left: 60px;
margin-top: 20px;
margin-bottom: 30px;
}

/*FEATURES ==============================*/

.features {
display: flex;
margin: 30px 30px;
}

.features__item {
width: 33.33333%;
text-align: center;
padding: 20px 20px;
}

.features__item span{
font-size: 50px;
color: #e84545;
}

.features__item h4{
font-weight: 700;
font-size: 20px;
color: black;
padding: 40px 0px 13px;
}

.features__text {
color: #6c7279;
font-size: 17px;
line-height: 1.2;
margin-bottom: 20px;
}

.btn {
display: inline-block;
vertical-align: top;
padding: 14px 40px;
cursor: pointer;
border-radius: 2px;
font-size: 10px;
color: white;
font-weight: 600;
text-transform: uppercase;
text-decoration: none;
border-radius: 4px;
transition: background .1s linear;
}

.btn-red {
background: #e84545;
}

.btn-red:hover {
background: #e84545;
}

/*HOWTOFIND ==============================*/

.howtofind {
padding-top: 100px;
color: black;
}

.howtofindd h3 {
color: black;
font-size: 30px;
color: black;
padding-left: 60px;
font-weight: bold;
}

/*FEATURESS ==============================*/

.featuress {
display: flex;
margin: 30px 30px;
text-align: center;
}

.features_item {
width: 33.33333%;
padding: 40px 40px;
background: #E1E7E8;
margin-left: 40px;
}

.features_item span{
font-size: 20px;
color: black;
font-weight: bold;
}

.features_text p{
text-align: left;
margin-left: 20px;
margin-top: 20px;
color: #6c7279;
font-size: 18px;
line-height: 1.1;
margin-bottom: 20px;
}

/*ABOUTUS1 ==============================*/

.aboutuss1 h3 {
padding-top: 100px;
color: black;
font-size: 40px;
color: black;
padding-left: 60px;
font-weight: bold;
}

/*TEAM ==============================*/

.team{
margin: 50px 0;
}

.team_inner{
display: flex;
flex-wrap: wrap;
margin: 0 -15px;
}

.team_item{
width: 25%;
padding: 0 25px;
margin-bottom: 25px;
}

.team_photo {
display: block;
max-width: 100%;
height:
height: auto;
margin-bottom: 20px;
}

.team_name {
margin-bottom: 8px;
font-size: 25px;
color: black;
}

.team_prof{
margin-bottom: 15px;
font-size: 16px;
color: #e84545;
text-transform: uppercase;
}

.team_text{
font-size: 16px;
color: black;
line-height: 1.2;
margin-bottom: 10px;
}

/*FOOTER ==============================*/

.footer {
background: #0f0f0f;
}

.footer_inner {
display: flex;
flex-wrap: wrap;
padding: 70px 0;
}

.footer_block {
width: 33.33333%;
text-align: center;
}

.footer_title {
font-size: 15px;
font-weight: 700;
color: white;
text-transform: uppercase;
margin-bottom: 15px;
}

.footer_address {
font-style: normal;
font-size: 14px;
color: rgba(255, 255, 255, .5);
line-height: 1;
}

.footer_text {
font-size: 14px;
color: rgba(255, 255, 255, .5);
line-height: 1;
}

.privpol {
width: 33.33333%;
text-align: center;
font-size: 15px;
font-weight: 700;
text-transform: uppercase;
margin-top: 15px;
}

.priv {
text-decoration: none;
color: grey;
transition: background .1s linear;
}

.priv:hover {
color: white;
}

/*COPYRIGHT ==============================*/

.copyright {
background: black;
padding: 20px 0;
}

.copyright_text {
text-transform: uppercase;
text-align: center;
font-size: 14px;
color: rgba(255, 255, 255, .5);
line-height: 1.5;
}

.copyright_text span {
color: white;
}

/*SOCIAL ==============================*/

.social {
display: flex;
}

.social-footer {
justify-content: center;
}

.social_item {
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #d6d9db;
border-radius: 4px;
width: 40px;
height: 40px;
margin-right: 4px;
background: white;
transition: background .1s linear;
}

.social-footer .social_item {
border: 1px solid white;
background: none;
opacity: .75;
}

.social_item:hover {
background: #d6d9db;
}

.social-footer .social_item:hover {
background: black;
opacity: 1;
}

.social_icon {
fill: #babebf;
display: block;
height: 21px;
transition: fill .1s linear;
}

.social-footer .social_icon {
fill: white;
opacity: .75;
}

.social_item:hover .social_icon {
fill: #202121;
}

.social-footer .social_item:hover .social_icon {
fill: white;
opacity: 1;
}

/*MEDIA ==============================*/

@media (max-width: 1200px) {
}

@media (max-width: 730px) {
}

@media (max-width: 420px) {

.nav__link {
font-size: 8px;
margin-left: 15px;
}

.footer_title{
font-size: 9px;
}
}